<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="preloader">
    <img src="../../assets/Images/Aeroplane_loader.png" class="airplane" />

    <h3>Landing on the website</h3>
    <img class="cloud1" src="../../assets/Images/Cloud_loader.png" />
    <img class="cloud2" src="../../assets/Images/Cloud_loader.png" />
    <img class="cloud3" src="../../assets/Images/Cloud_loader.png" />
  </div>

  <div id="content">
    <div id="header">
      <p style="text-align: center">Welcome to CRUD</p>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" id="addCard">
          <img class="card-img-top" src="../../assets/Images/Add_Image_Icon.jpg" style="width:100%" />
          <div class="card-body">
            <h4 class="card-title">Create a new Entry</h4>
            <p class="card-text">some example text</p>
            <a href="#" class="btn btn-primary stretched-link">Click</a>
          </div>

        </div>
        <div id="add" style="display: none">
          You can add your new entries
        </div>
      </div>
      <div class="col">
        <div class="card" id="editCard">
          <img class="card-img-top" src="../../assets/Images/edit_image_icon.png" style="width:100%" />
          <div class="card-body">
            <h4 class="card-title">Edit Entry</h4>
            <p class="card-text">some example text</p>
            <a href="#" class="btn btn-primary stretched-link">Click</a>
          </div>

        </div>
        <div id="edit" style="display: none">
          You can add your new entries
        </div>
      </div>
      <div class="col">
        <div class="card" id="searchCard">
          <img class="card-img-top" src="../../assets/Images/search_image.jpg" style="width:100%" />
          <div class="card-body">
            <h4 class="card-title">Search Entry</h4>
            <p class="card-text">some example text</p>
            <a href="#" class="btn btn-primary stretched-link">Click</a>

          </div>
        </div>
        <div id="search" style="display: none">
          You can add your new entries
        </div>
      </div>
      <div class="col">
        <div class="card" id="deleteCard">
          <img class="card-img-top" src="../../assets/Images/delete_icon.png" style="width:100%" />
          <div class="card-body">
            <h4 class="card-title">Delete Entry</h4>
            <p class="card-text">some example text</p>
            <a href="#" class="btn btn-primary stretched-link">Click</a>
          </div>

        </div>
        <div id="delete" style="display: none">
          You can add your new entries
        </div>
      </div>
    </div>
  </div>

</body>
